<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template | Home</title>
    <link href="css/styles.css" type="text/css" rel="stylesheet">
  </head>

  <body class="home">
    
    <header>
      <a href="index.html"><div class="left" id="logo">Logo</div></a>
      <nav>
        <ul class="right">
          <li class="left m-l-20"><a href="">Blog</a></li>
          <li class="left m-l-20"><a href="">Items</a>
            <ul class="dropdown">
              <li><a href="">Item 1</a></li>
              <li><a href="">Item 2</a></li>
              <li><a href="">Item 3</a></li>
            </ul>
          </li>
          <li class="left m-l-20"><a href="">Contact</a></li>
          <li class="left m-l-20"><a href="">About</a></li>
        </ul>
      </nav>
    </header>
    
    <div class="hero">
      <img src="images/background.jpg" alt="hero banner" />
    </div>
    <main>
      <div class="wrapper">
        <h1>Call to Action</h1>
        <blockquote class="leftquote">
          Vaporware wolf celiac cliche four loko lyft meh paleo raclette humblebrag palo santo normcore XOXO biodiesel. Thundercats quinoa cray artisan craft beer single-origin coffee listicle.
        </blockquote>
        <div class="row">
          <div class="col-4 left m-r-20">
            <h3>Box 1</h3>
            <p>Shaman hexagon taiyaki tumeric tofu sriracha gochujang microdosing hoodie flexitarian 8-bit ramps ethical asymmetrical. </p>
          </div>
          <div class="col-4 left m-r-20">
            <h3>Box 2</h3>
            <p>Shaman hexagon taiyaki tumeric tofu sriracha gochujang microdosing hoodie flexitarian 8-bit ramps ethical asymmetrical. </p>
          </div>
          <div class="col-4 left m-r-20">
            <h3>Box 3</h3>
            <p>Shaman hexagon taiyaki tumeric tofu sriracha gochujang microdosing hoodie flexitarian 8-bit ramps ethical asymmetrical. </p>
          </div>
          <div class="col-4 left">
            <h3>Box 4</h3>
            <p>Shaman hexagon taiyaki tumeric tofu sriracha gochujang microdosing hoodie flexitarian 8-bit ramps ethical asymmetrical. </p>
          </div>
        </div>
      </div> <!-- end wrapper -->
    </main>
    <footer class="clear">
      <div class="wrapper">
        <h2>Footer 1</h2>
        <p>Shaman hexagon taiyaki tumeric tofu sriracha gochujang microdosing hoodie flexitarian 8-bit ramps ethical asymmetrical. </p>
      </div>
      <div id="copyright">
<!--
        <div class="wrapper">
          <h2>Footer 2</h2>
          <p>Shaman hexagon taiyaki tumeric tofu sriracha gochujang microdosing hoodie flexitarian 8-bit ramps ethical asymmetrical. </p>
        </div>
-->
        <div class="wrapper">
          <ul class="right">
            <li>Copyright &copy; 2019</li>
            <li>All Rights Reserved</li>
            <li><a href="">Terms of Use</a></li>
            <li><a href="">Web Design by John</a></li>
            <li><a href="https://validator.w3.org/">HTML5</a></li>
            <li><a href="https://jigsaw.w3.org/css-validator/" rel="nofollow" title="Validate CSS">CSS</a></li>
          </ul>
        </div> <!-- end 2nd footer wrapper -->
      </div> <!-- end copyright -->
    </footer>
  </body>
</html>
