<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Template | Inner</title>
    <link href="css/styles.css" type="text/css" rel="stylesheet">
  </head>

  <body class="inner">
    
    <header>
      <a href="index.html"><div class="left" id="logo">Logo</div></a>
      <nav>
        <ul class="right">
          <li class="left m-l-20"><a href="blog.html">Blog</a></li>
          <li class="left m-l-20"><a href="#">Items</a>
            <ul class="dropdown">
              <li><a href="inner.html">Item 1</a></li>
              <li><a href="inner.html">Item 2</a></li>
              <li><a href="inner.html">Item 3</a></li>
            </ul>
          </li>
          <li class="left m-l-20"><a href="inner.html">Contact</a></li>
          <li class="left m-l-20"><a href="inner.html">About</a></li>
        </ul>
      </nav>
    </header> <!-- END HEADER -->
    
      <div class="wrapper">

      <main>

        <h1>Inner</h1>
        <p>tagline</p>
        <h2>single-origin coffee</h2>
        <p>
          Vaporware wolf celiac cliche four loko lyft meh paleo raclette humblebrag palo santo normcore XOXO biodiesel. Thundercats quinoa cray artisan craft beer single-origin coffee listicle.
        </p>
        <h2>XOXO biodiesel</h2>
        <p>
          Vaporware wolf celiac cliche four loko lyft meh paleo raclette humblebrag palo santo normcore XOXO biodiesel. Thundercats quinoa cray artisan craft beer single-origin coffee listicle.
        </p>


      </main> <!-- END MAIN -->

      <aside>

        <h2>Aside</h2>
        <p>Our sponsors: shaman hexagon taiyaki tumeric tofu sriracha gochujang microdosing hoodie flexitarian 8-bit ramps ethical asymmetrical. </p>

      </aside> <!-- END ASIDE -->
      
    </div> <!-- END WRAPPER -->
    
    <footer class="clear">
      
      <div class="wrapper">
        <h2>Footer</h2>
        <p>Shaman hexagon taiyaki tumeric tofu sriracha gochujang microdosing hoodie flexitarian 8-bit ramps ethical asymmetrical. </p>
      </div> <!-- END WRAPPER -->
      
      <div id="copyright">

        <div class="wrapper">
          <ul class="right">
            <li>Copyright &copy; 2019</li>
            <li>All Rights Reserved</li>
            <li><a href="">Terms of Use</a></li>
            <li><a href="">Web Design by John</a></li>
          </ul>
        </div> <!-- END WRAPPER -->
      
      </div> <!-- END COPYRIGHT -->
      
    </footer> <!-- END FOOTER -->
    
  </body>
</html>