/*styles for my wind website*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;

}

.home {
  background-image: url(../images/bg-1.jpg);
  background-repeat: no-repeat;
}

.inner {
  background-image: url(../images/bg-inner.jpg);
  background-repeat: no-repeat;
}

.wrapper {
  width: 85%;
  max-width: 1100px;
  margin: 20px auto;
}

.wrapper-inner {
  width: 85%;
  max-width: 1100px;
  margin: 200px auto 20px auto;
}

main {
  width: 61.70%;
/*  height: 400px;*/
  background: beige;
}

aside {
  width: 36.17%;
/*  height: 300px;*/
  background: tan;
}

footer .wrapper h2 {
  padding-top: 20px;
}

header {
  overflow: hidden;
  background: yellow;
  width: 85%;
  max-width: 1100px;
  margin: 20px auto 0 auto;
}

#logo {
  margin-bottom: 20px;
  background: orange;
}

nav>ul {
  float: right;
  margin-top: 20px;
  background: red;
  overflow: hidden;
}

nav li {
  list-style-type: none;
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  display: block;
}

ul .left20 {
  margin-left: 20px;
}

.dropdown {
  display: none;
}

nav li:hover .dropdown {
  display: block;
  position: absolute;
/*  background: rgba(255,255,255,.85);*/
  background: pink;
}

nav li:hover .dropdown li {
  margin-left: 0;
}

nav li:hover .dropdown li a {
  color: #000;
  padding: 5px 10px;
}

nav li:hover .dropdown li a:hover {
  background: #800;
  color: #fff;
}

.hero {

}

.row {
  margin-bottom: 20px;
  overflow: hidden; /*auto may give scrollbars*/
/*
  background: green;
  border-bottom: 20px solid orange;
*/
}

.col-4 {
  width: 23.404255319148936170212765957447%; /* 220(og)/940(total)*/
  border: 1px dotted #800;
/*  margin-right: 20px;*/
}

/*
.col-4:nth-child(4) {
  margin-right: 0;
}*/

.third {
  width: 31.914893617021276595744680851064%;
  border: 1px dotted #800;
}

footer {
/*  padding-top: 10px;*/
  background: #bbb;
}

#copyright {
  height: 50px;
  line-height: 50px;
  background: #777;
}

footer li {
  list-style-type: none;
  float: left;
  margin-left: 20px;
}

.video {
  background: lightblue;
  height: 180px;
  width: 70%;
  max-width: 300px;
}

.awards {
  border: 1px solid #800;
  overflow: auto;
  padding: 20px 3.70%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.awards li {
  width: 13.57%;
  margin-right: 3.70%;
  list-style-type: none;
}

.awards li:last-of-type {
  margin-right: 0;
}

.awards li:first-child {
  margin: 0 0 20px 0;
  width: 100%;
  margin-bottom: 20px;
  font-size: 1.5em;
  font-weight: 700;
}

.entry {
  clear: both;
  margin-bottom: 8px;
  overflow: hidden;
}



img {
  max-width: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.right20 {
  margin-right: 2.12%;
}

.left20 {
  margin-left: 2.12%;
}

.clear {
  clear: both;
}

.col-4 span, .third span {
  display: block;
  float: right;
  margin-top: 8px;
}

input[type="submit"] {
  padding: 2px 6px 3px 6px;
  width: 10em;
}

.size20 {
  width: 20%;
  float: left;
}

.size80 {
  width: 75%;
  float: right;
}




/*Typography*/
.home h1 {
  text-align: center;
}

blockquote {
  width: 76.59%;
  margin: 20px auto;
  font-size: 1.4em;
  font-style: italic;
  position: relative;
}

h1, h2, h3, h4 {
  margin-bottom: 8px;
}

h2, h3 {
  margin-top: 8px;
}

.col-4 h3, .col-4 p, .third h3, .third p {
  padding: 0 8px 10px 8px;
}

.col-4 p, .third p {
  font-size: .875em;
  margin-bottom: 5px;
}

img + h3 {
  margin: 10px 0 0 0;
}

blockquote.leftborder {
  width: 100%;
  border-left: 13px solid #E0E0E0;
  padding-left: 20px;
}

blockquote.leftquote:before {
  position: absolute;
  font-size: 34px;
  font-family: FontAwesome;
  margin-right: 13px;
  right: 100%;
  content: "\f10d";
}

/*media queries*/
@media screen and (max-width: 1200px) {
  body {
    background: pink;
  }
}

@media screen and (max-width: 1000px) {
  body {
    background: yellow;
  }
  .wrapper, .wrapper-inner, header {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  body {
    background: lightblue;
  }
  .col-4 {
    width: 48.93%;
    /* 220(og)/940(total)*/
    border: 1px dotted #800;
  /*  margin-right: 20px;*/
  }
  .col-4:nth-child(2) {
    margin-right: 0;
  }
  .wrapper, .wrapper-inner, header {
    width: 94%;
  }
}

@media screen and (max-width: 700px) {
  body {
    background: orange;
  }
  .third {
    width: auto;
    float: none;
    margin-right: 0;
  }
  main.left {
    width: auto;
    float: none;
  }

  aside.right {
    width: auto;
    float: none;
  }
  .wrapper, .wrapper-inner, header {
    width: 96%;
  }
  .wrapper-inner {
    margin-top: 20px;
  }
  .home, .inner {
    background-image: none;
    background: #fff;
  }
}